<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Jost:wght@500&family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{css/styles.css}">
    <link rel="icon" type="image/x-icon" th:href="@{assets/icon.svg}">
    <title>Говори Играя</title>
</head>
<body id="appointment">
    <header id="main-header">
        <div id="main">
            <div class="col growing">
                <a th:href="@{/}" class="first-row"><img  th:src="@{assets/logo.svg}" alt="говориграя" id="logo"></a>
            </div>
            <div class="col">
                <div class="first-row mobile-hide" id="address">
                    <div>Москва, Введенского 3к1</div>
                    <div>+7 (987) 621-58-09</div>
                </div>
            </div>
            <div class="col growing">
                <div class="hamburger">
                    <span class="line" id="line1"></span>
                    <span class="line" id="line2"></span>
                    <span class="line" id="line3"></span>
                </div>
            </div>    
        </div>
        <div id="hamburger-links" style="display: none;">
            <a th:href="@{/contacts}" class="mobile-show">Москва, Введенского 3к1</a>
            <a th:href="@{/contacts}" class="mobile-show">+7 (987) 621-58-09</a>
            <a th:href="@{/#illnesses}">с какими нарушениями помогаем?</a>
            <a th:href="@{/#reviews}">отзывы о нас</a>
            <a th:href="@{/#prices}">услуги</a>
            <a th:href="@{/contacts}">контакты</a>
        </div>
    </header>
    <main id="appointment-page" class="section">
        <div class="col laptop-hide" id="aside">
            <div>
                <p class="header"><span class="orange">Скидка 50% </span> на первую консультацию</p>
                <p>Педагог проверит, какие особенности речи есть у ребёнка, и предложит индивидуальный план занятий</p>                
            </div>
        </div>
        <div class="col" id="form-col">
            <p class="header">Заполните форму и получите скидку</p>
            <p>С вами свяжется менеджер и поможет подобрать подходящее расписание, специалиста и программу обучения</p>
            <form id="appointment-form">
                <div class="field">
                    <input
                        name = "name"
                        type="text"  
                        minlength="2"
                        maxlength="35"
                        placeholder="Как к вам обращаться..." 
                        required>
                </div>
                <div class="field" id="phone">
                    <input
                        autocomplete="off"
                        name = "phone"
                        type="phone" 
                        placeholder="9276321213" 
                        minlength="10" 
                        maxlength="10" 
                        pattern="^[489][0-9]{9}$" 
                        inputmode="numeric" 
                        required>
                </div>
                <div class="field">
                    <input 
                        name = "email"
                        type="email" 
                        placeholder="Почта" 
                        pattern=".+@.+\.(com|ru)" 
                        maxlength="35"
                        required />
                </div>
                <p class="submit-status success" id="submition-succcess">Успешно, скоро мы свяжемся с вами!!</p>
                <p class="submit-status error" id="submition-error">Проблемы с сетью, пожалуйста, повторите позднее.</p>
                <button id="action">
                    Оставить заявку
                </button>
                <p class="disclaimer">Нажимая кнопку "Оставить заявку" вы даете согласие на обработку персональных данных<br>и соглашаетесь с <a th:href="@{/privacy}">политикий конфиденциальности</a></p>
            </form>
        </div>
    </main>
    <footer>
        <img th:src="@{assets/logo.svg}" alt="логотип" id="logo">
        <div id="line"></div>
        <div id="info">
            <a th:href="@{/}">говорииграя 2014-2024 все права защищены</a>
            <a th:href="@{/privacy}">политика обработки персональных данных</a>
            <a th:href="@{/privacy}">пользовательское соглашение</a>
        </div>
    </footer>
    <script th:src="@{js/script.js}" ></script>
</body>
</html>